<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City of Boston - Maps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/maps.js') }}"></script>
    <!-- Add Chart.js for Graphs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!-- Title Section -->
    <header class="header">
        <h1 class="centered-title">Map & Model Interactions</h1>
        <div class="button-container">
            <a href="{{ url_for('index') }}" class="button">Home</a>
            <a href="{{ url_for('operating') }}" class="button">Operating</a>
            <a href="{{ url_for('capital') }}" class="button">Capital</a>
        </div>
    </header>

    <div class="map-block-container">
			
        <div class="map-block">
            <h2 class="block-title">Linear Regression Model</h2>
            <div class="">
                <canvas id="linear_regression_graph"></canvas>
            </div>
        </div>

    </div>

    <!-- Graph Block Container -->
    <div class="map-block-container">
			<div class="map-block">
				<h2 class="block-title">Budget per Neighborhood</h2>
				<div class="map-container1"></div>
			</div>
		
			<div class="map-block">
				<h2 class="block-title">Per Capita Income & Per Capita Expenses</h2>
				<div class="map-container2"></div>
			</div>
		</div>

    <script src="{{ url_for('static', filename='js/operating.js') }}"></script>
</body>
</html>
